@{
    ViewBag.Title = "Начална Страница";
}

<h1>ПО СЕКТОР</h1>
<section class="row">
    @foreach (var d in ViewBag.Category)
    {
        <article class="form-control-static col-md-6">
            @Html.ActionLink((string)d.Key.CategoryName + " (" + (string)d.Value.ToString()+")", "List","JobPosts", null, null, null, new { name = d.Key.CategoryName, currentFilter = "Category" },null)
        </article>
    }

</section>
<h1>ОБЯВИ ПО ГРАД</h1>
<section class="row">
    @foreach (var d in ViewBag.City)
    {
        <article class="form-control-static col-md-6">
            @Html.ActionLink((string)d.Key.CityName + " (" + (string)d.Value.ToString()+")", "List", "JobPosts", null, null, null, new { name = d.Key.CityName, currentFilter = "City" }, null)
        </article>
    }
</section>