@model JobSite.Models.City

@{
    ViewBag.Title = "Детайли";
}

<h2>Детайли</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Град")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактирай", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Към списъка с градове", "Index")
</p>
